@page
@model HR_DBMS.Pages.Employee.RequestModel
@{
	Layout = "_LayoutEmployee";
}
<body>
	<p style="font-size:22px;">Make a Request</p>
	<form method="post">
		<i style="font-size:20px;">Manager ID</i>
		<input type="text" class="form-control" placeholder="to whom should the request be send to" asp-for="@Model.request.ApprovedBy" />
		<span asp-validation-for="request.ApprovedBy" class="text-danger"></span> <br />
		<i style="font-size:20px;">Description</i>
		<input type="text" class="form-control" placeholder="type your request" asp-for="@Model.request.Description" /> 
		<span asp-validation-for="request.Description" class="text-danger"></span> <br /><br />
		<button type="submit" class="btn btn-outline-secondary m-3  float-end" asp-route-id="@Model.request.ID" asp-page-handler="Cancel">Cancel</button>
		<button type="submit" class="btn btn-primary m-3 float-end" asp-route-id="@Model.request.ID" asp-page-handler="Submit">Submit</button>
	</form>
</body>