@page
@model HR_DBMS.Pages.RecruitmentMang.AnnouncmentsModel
@{
	Layout = "_LayoutRecruitmentMang";
}
<div class="card">
	<div class="card-body pb-0">
		<h1 class="=card-title">Main Announcments</h1>
		<div class="Messages">
			<div class="post-item clearfix">
				<form class="row g-3">
					<div class="col-md-1">
						<img src="~/img/messages-1.jpg" height="50" width="50">
					</div>
					<div class="col-md-8">
						<h1 style="font-size:100%" style="font-family:verdana;"><b>sara mike</b></h1>
						<p>A new Training has been opened</p>
					</div>
					<div class="col-md-2" data-bs-toggle="dropdown">
						<p>2 hrs.ago</p>
					</div>
				</form>
			</div>
			<br />
			<div class="post-item clearfix">
				<form class="row g-3">
					<div class="col-md-1">
						<img src="~/img/messages-2.jpg" height="50" width="50">
					</div>
					<div class="col-md-8">
						<h1 style="font-size:100%" style="font-family:verdana;"><b>Maria Johnson</b></h1>
						<p>A new Employee with ID 1215 has been added!</p>
					</div>
					<div class="col-md-2" data-bs-toggle="dropdown">
						<p>4 hrs.ago</p>
					</div>
				</form>
			</div>
			<br />

			<div class="post-item clearfix">
				<form class="row g-3">
					<div class="col-md-1">
						<img src="~/img/messages-3.jpg" height="50" width="50">
					</div>
					<div class="col-md-8">
						<h1 style="font-size:100%"><b>David Muldon</b></h1>
						<p>A new Employee with ID 1555 has been added!</p>
					</div>
					<div class="col-md-3" data-bs-toggle="dropdown">
						<p>1 day.ago</p>
					</div>
				</form>
			</div>

			<form class="row g-3">
				<div class="col-md-8">
					<class ="form-label">
						Write a message</>
						<input type="text" class="form-control">
				</div>
				<div class="col-md-1" data-bs-toggle="dropdown">
					<button class="btn btn-primary" type="button">
						<div class="icon">
							<p>
								Send<i class="ri-send-plane-fill"></i>
							</p>
					</button>
				</div>
			</form>
		</div>


	</div>
</div>




