@page
@model HR_DBMS.Pages.RecruitmentMang.EmployeesModel
@{
	Layout = "_LayoutRecruitmentMang";
}

@*<div class="card">
    <div class="card-body">
        <h5 class="card-title">Employees table</h5>

        <!-- Table with stripped rows -->
        <table class="table datatable">
            <thead>
                <tr>
                    
                    <th scope="col">Name</th>
                    <th scope="col">ID</th>
                    <th scope="col">email</th>
                    <th scope="col">Team</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                 
                     @for (int i = 0; i < Model.Employees_table.Rows.Count; i++)
                    {
                        <tr>
                            
                            @for (int j = 0; j < 5; j++)
                            {


                                <td>@Model.Employees_table.Rows[i][j]</td>

                            }
                            <td><a class="btn btn-outline-info" asp-page="/RecruitmentMang/EditEmployee" asp-route-id="@Model.Employees_table.Rows[i][1]"><i class="fas fa-user"></i> Edit</a></td>

                        </tr>
                    }
                </tr>
                
            </tbody>
        </table>
        <!-- End Table with stripped rows -->

    </div>
</div>*@

<div class="col-lg-12">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Current Trainings</h5>

            <!-- Table with stripped rows -->
            <table class="table datatable">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">ID</th>
                        <th scope="col">email</th>
                        <th scope="col">Team</th>
                        <th scope="col">Status</th>

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Employees_table.Rows.Count; i++)
                    {
                        <tr>
                         
                            @for (int j = 0; j < 5; j++)
                            {

                                <td>@Model.Employees_table.Rows[i][j]</td>

                            }

                            <td><a class="btn btn-outline-info" asp-page="/RecruitmentMang/EditEmployee" asp-route-id="@Model.Employees_table.Rows[i][1]"><i class="fas fa-user"></i> Edit</a></td>
                        </tr>
                    }



                </tbody>
            </table>
            <!-- End Table with stripped rows -->

        </div>
    </div>

</div>
