@page
@model HR_DBMS.Pages.RecruitmentMang.HomeModel
@{
	Layout = "_LayoutRecruitmentMang";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<h1>Home</h1>


<div class="container">
    <div class="row">
        <div class="col">
           
            <div class="card" style="max-height:500px; max-width:500px">
                <h1 class="card-header">Attendents</h1>
                <canvas id="pieChart" style="max-height: 350px; max-width:350px"></canvas>
                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        new Chart(document.querySelector('#pieChart'), {
                            type: 'pie',
                            data: {
                                labels: [

                                    'Blue',
                                    'White'
                                ],
                                datasets: [{
                                    label: 'My First Dataset',
                                    data: [700, 100],
                                    backgroundColor: [

                                        'rgb(54, 162, 235)',
                                        'rgb(255, 255, 255)'
                                    ],
                                    hoverOffset: 4
                                }]
                            }
                        });
                    });
                </script>
        </div>
        
    </div>
    <br /><br /><br />

        <div class="col-lg-8">
            
                <div class="col-8"></div>
            <div class="card" style="max-height:500px; max-width:500px">
               
            <h4>Number of Employees</h4>
            <p1>198</p1><br />
            <h4>Number of Applicants</h4>
            <p1>198</p1>
        </div>
        

    </div>
</div>


<br />
<div class="card" style="max-height:500px; max-width:auto">
    <h1 class="card-header">Recent Edits</h1>
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">Default</h5>

                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    A New Employee with an ID of 59687 has been added!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                    Email of Employee of ID 125466 has changed!                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    Status of Employee of ID 102369 changed!                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

               @* <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    A simple danger alert—check it out!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    A simple warning alert—check it out!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    A simple info alert—check it out!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div class="alert alert-light border-light alert-dismissible fade show" role="alert">
                    A simple light alert—check it out!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div class="alert alert-dark alert-dismissible fade show" role="alert">
                    A simple dark alert—check it out!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>*@

            </div>
        </div>
</div>
        

    






         