@page
@model HR_DBMS.Pages.RecruitmentMang.HomeModel
@{
    Layout = "_LayoutRecruitmentMang";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<h1>Home</h1>

<div class="col-xxl-4 col-md-6">
<div class="container">
    <div class="row">
        <div class="col">

            <div class="card" style="max-height:500px; max-width:500px">
                <h1 class="card-header">Attendents</h1>
                <canvas id="pieChart" style="max-height: 350px; max-width:350px"></canvas>
                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        new Chart(document.querySelector('#pieChart'), {
                            type: 'pie',
                            data: {
                                labels: [

                                    'Blue',
                                    'White'
                                ],
                                datasets: [{
                                    label: 'My First Dataset',
                                    data: [700, 100],
                                    backgroundColor: [

                                        'rgb(54, 162, 235)',
                                        'rgb(255, 255, 255)'
                                    ],
                                    hoverOffset: 4
                                }]
                            }
                        });
                    });
                </script>
            </div>
                   <!-- Clock Card Card -->
         @*       <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">

                        <div class="card-body">
                            <h5 class="card-title">Time at work <span>| Today</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="ri-time-line"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>Clock in:12</h6>
                                    <span class="text-success small pt-1 fw-bold">Welcome</span> <span class="text-muted small pt-2 ps-1">Time worked</span>
                                    <form method="post"><span>Take <button asp-page-handler="Take" type ="sumbit" class="btn btn-outline-primary btn-sm">Attendance</button></span></form>
                                    <span class="text-danger">hi</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>*@
        <br /><br /><br />

        <div class="col-lg-8">

            <div class="col-8"></div>
            <div class="card" style="max-height:500px; max-width:500px">

                <h4>Number of Employees</h4>
                <p1>@Model.Employeenum</p1><br />
                <h4>Number of Applicants</h4>
                <p1>@Model.ApplicantNum</p1>
            </div>


        </div>
    </div>


    <br />


</div>









