@page
@model HR_DBMS.Pages.PersonalMang.Project.CreateModel
@{
    Layout = "_LayoutPersonalMang";
}

<div class="card-body">
    <h5 class="card-title">Create Project</h5>

    <!-- Browser Default Validation -->
    <form class="row g-3" asp-page-handler="create">
        <div class="col-md-12">
            <label for="validationDefault01" class="form-label">Project Name</label>
            <input type="text" class="form-control" required="">
           
        </div>

        <div class="col-md-12">
            <label class="form-label">Project Goal</label>
            <div class="input-group">

                <input type="text" class="form-control" required="">
            </div>
        </div>
        <div class="col-md-12">
            <label class="form-label">Project Description</label>
            <div class="input-group">

                <input type="text" class="form-control" required="">
            </div>
        </div>
        <div class="col-md-6">
            <label class="form-label">Start Date</label>
            <div class="input-group">
                <span class="input-group-text">dd-mm-yyyy</span>
                <input type="datetime" class="form-control" required="">
            </div>
        </div>
        <div class="col-md-6">
            <label class="form-label">Dead Line</label>
            <div class="input-group">
                <span class="input-group-text">dd-mm-yyyy</span>
                <input type="datetime" class="form-control" required="">
            </div>
        </div>
        <div class="col-md-12">
            <label for="validationDefault04" class="form-label">Add Employees</label>
            <i class="ri-add-line"></i>
            <select class="form-select" id="validationDefault04" required="">

                <option selected="" disabled="" value="">Add...</option>
                <!--Add code here-->
                <option>Omar</option>
                <option>Ahmed</option>
            </select>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Add New Project</button>
        </div>
    </form>
    <!-- End Browser Default Validation -->

</div>
