@page
@model HR_DBMS.Pages.TrainingMang.HomeModel
@{
    Layout = "_LayoutTrainingMang";
}


    <section class="section">
        <div class="row">

           

          <div class="col-lg-5">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Attendance</h5>
                        <!-- Radial Bar Chart -->
                        <div id="radialBarChart"></div>

                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                new ApexCharts(document.querySelector("#radialBarChart"), {
                                    series: [60],
                                    chart: {
                                        height: 200,
                                        type: 'radialBar',
                                        toolbar: {
                                            show: true
                                        }
                                    },
                                    plotOptions: {
                                        radialBar: {
                                            dataLabels: {
                                                name: {
                                                    fontSize: '22px',
                                                },
                                                value: {
                                                    fontSize: '16px',
                                                },
                                                total: {
                                                    show: true,
                                                    label: 'Total',
                                                    formatter: function (w) {
                                                        // By default this function returns the average of all series. The below is just an example to show the use of custom formatter function
                                                  
                                                       return 70;
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    labels: ['Attendance'],
                                }).render();
                            });
                        </script>
                        <!-- End Radial Bar Chart -->
                    </div>
                </div>
            </div>  
          </div>
       
            <div class="col-lg-7">
            
            <!-- Default Card -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Number of Current Trainings</h5>
                    20
                </div>
            </div><!-- End Default Card -->
        

        
            
            <!-- Default Card -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Number of Previous Trainings</h5>
                    58
                </div>
            </div><!-- End Default Card -->
            </div>
            
        </div>

    <div class="col-lg-12">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Week's Trainings</h5>

                <!-- Table with stripped rows -->
                <table class="table datatable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Location</th>
                            <th scope="col">Time</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Trainings.Rows.Count; i++)
                        {

                            <tr>

                                @for (int j = 0; j < 3; j++)
                                {
                                    <td>@Model.Trainings.Rows[i][j]</td>

                                }
                                @for (int j = 0; j < 3; j++)
                                {
                                    <td>@Model.Training_times.Rows[i][j]</td>

                                }
                               
                                



                               @* <td>
                                    <a asp-page="/TraingingMang/Training_detail" asp-route-id="@Model.Trainings.Rows[i][0]" /> 
                               
                                </td>*@

                                <td><a class="btn btn-outline-info" asp-page="/TrainingMang/Training_detail" asp-route-id="@Model.Trainings.Rows[i][0]"><i class="fas fa-user"></i> View</a></td>

                            </tr>
                        }
                        
                    </tbody>
                </table>
                <!-- End Table with stripped rows -->

            </div>
        </div>

    </div>
    
    </section>



