@page
@model HR_DBMS.Pages.TrainingMang.Training_detailModel
@{
    Layout = "_LayoutTrainingMang";

}

<div class="pagetitle">
    <h1>Training Detail </h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/TrainingMang/Trainings">Home</a></li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row align-items-top">
        <div class="col-xxl-12">
            <!-- Card with header and footer -->
            <div class="card">
                <div class="card-header">Training Name</div>
                <div class="card-body">
                    <h5 class="card-title">Description</h5>
                    The training will contain 5 main topic including a weekly discussion and a final presentaion to ensure employees make the bedt of the training
                </div>
                
            </div><!-- End Card with header and footer -->
        </div>
        <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Team Members</h5>

                <!-- List group Numbered -->
                <ol class="list-group list-group-numbered">
                    <li class="list-group-item">Omar Ahmed</li>
                    <li class="list-group-item">Ali Ahmed</li>
                    <li class="list-group-item">Nada Khaled</li>
                    <li class="list-group-item">Malk Mostafa</li>
                </ol><!-- End List group Numbered -->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Start Date</h3>
                    <p>2023-02-25</p>
                </div>
            </div>
            
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">End Date</h3>
                    <p>2023-05-25</p>
                </div>
            </div>

        </div>
    </div>
    

</section>